In [1]:
import pandas as pd
import os
from collections import Counter
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
import string
# nltk.download()

In [2]:
def cleanArticle(file2read):

    stop_words = set(stopwords.words('english') + list(string.punctuation)) # decleare extra words and punctioations

    article = '' # declare the returning variable
    customExtras = ["\n", "'", "“", "”", "'", "`", "-", "[", "]", "»"] # declare extra chars of article which are not included in the previous packages 
    
    def listToString(s): #function that converts arr of strings into one string (used later)
        str1 = " "
        return (str1.join(s))


    for i in customExtras: # remove extra chars in article
        file2read = file2read.replace(i, " ")

    
    word_tokens= word_tokenize(file2read.lower()) #converts arcivle into array of words
    # print(word_tokens)


    filtered_file2read =[] #empty array of clean words

    for w in word_tokens: # check if word from article is the extra , if not assign the word in the clean words array
        if w not in stop_words and w.isalpha() == True:
            filtered_file2read.append(w)

    # print(filtered_file2read)


    article = listToString(filtered_file2read)
    # print(article)
    

    return article

In [3]:
#change directory to technology training
os.chdir("articles/technology/training")


articles = []
genres = []
item = 1


#open training technology articles
while(item <= 100):
    file2read = open("TrTechnologyArticle" + str(item) +
                     ".txt", 'r').read()
    file2read = cleanArticle(file2read) #cleanarticle was declared before
    articles.append(file2read)
    genres.append("technology")
    item += 1

item = 1

#change directory to sports training
os.chdir("../../sports/training")

#open training sports articles
while(item <= 100):
    file2read = open("TrSportsArticle" + str(item) +
                     ".txt", 'r').read().replace("\n", "")
    file2read = cleanArticle(file2read)
    articles.append(file2read)
    genres.append("sports")
    item += 1 


#declare dictionary that becomes dataframe
trainingData = {'article':  articles,
                'genre': genres
                }

# print(articles[2])

os.chdir("../../../")






trainingData = pd.DataFrame(trainingData)
trainingData

                                               article       genre
0    apple today released ios ipados minor bug fix ...  technology
1    expected apple rolling ios iphone users update...  technology
2    apple wednesday released ios ipados bug fixes ...  technology
3    iphone models emergency sos via satellite feat...  technology
4    apple released ios ipados iphone ipad download...  technology
..                                                 ...         ...
195  smu topped houston saturday highest scoring re...      sports
196  smu quarterback tanner mordecai tossed nine to...      sports
197  smu houston offenses unstoppable saturday ap w...      sports
198  evanston ryan day reasonable explanation took ...      sports
199  subscription supports investigative reporting ...      sports

[200 rows x 2 columns]

In [4]:

os.chdir("articles/technology/testing")
temp = os.getcwd()


articles = []
genres = []
item = 101


os.getcwd


while(item >= 101 and item <=200):
    file2read = open("TeTechnologyArticle" + str(item) +
                     ".txt", 'r').read()
    file2read = cleanArticle(file2read)
    articles.append(file2read)
    genres.append("technology")
    item += 1

item = 101

os.chdir("../../sports/testing")

while(item >= 101 and item <=200):
    file2read = open("TeSportsArticle" + str(item) +
                     ".txt", 'r').read()
    file2read = cleanArticle(file2read)
    articles.append(file2read)
    genres.append("sports")
    item += 1


testingData = {'article':  articles,
                'genre': genres
                }

# print(articles[2])

os.chdir("../../../")


testingData = pd.DataFrame(testingData)
testingData

                                               article       genre
0    cbs essentials created independently cbs news ...  technology
1    update wed nov gmt appearing pegi website last...  technology
2    publisher devolver digital developer daniel mu...  technology
3    finally allowing posting last year instagram c...  technology
4    since instagram introduced website let users a...  technology
..                                                 ...         ...
195  houston human nature amped maybe game extra bu...      sports
196  let get philadelphia eagles links predicting n...      sports
197  jesse mendez breakout performance first colleg...      sports
198  twitter instagram facebook order ohio state ti...      sports
199  ccole mattin sam janicki michigan crowned four...      sports

[200 rows x 2 columns]

In [5]:
#assign `label`` to training and testing dataframes if sports then label = 1  if not label = 0
trainingData['label'] = trainingData['genre'].apply(lambda x: 0 if x=="sports" else 1) 
testingData['label'] = testingData['genre'].apply(lambda x: 0 if x=="sports" else 1)
 
# trainingData
trainingData

                                               article       genre  label
0    apple today released ios ipados minor bug fix ...  technology      1
1    expected apple rolling ios iphone users update...  technology      1
2    apple wednesday released ios ipados bug fixes ...  technology      1
3    iphone models emergency sos via satellite feat...  technology      1
4    apple released ios ipados iphone ipad download...  technology      1
..                                                 ...         ...    ...
195  smu topped houston saturday highest scoring re...      sports      0
196  smu quarterback tanner mordecai tossed nine to...      sports      0
197  smu houston offenses unstoppable saturday ap w...      sports      0
198  evanston ryan day reasonable explanation took ...      sports      0
199  subscription supports investigative reporting ...      sports      0

[200 rows x 3 columns]

In [6]:
#dataframe manipulation
df = testingData #declare new
df = testingData.append(trainingData, ignore_index=True)#  append declarted dataframe with training data
df

C:\Users\Luka\AppData\Local\Temp\ipykernel_24280\345619133.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = testingData.append(trainingData, ignore_index=True)#  append declarted dataframe with training data

                                               article       genre  label
0    cbs essentials created independently cbs news ...  technology      1
1    update wed nov gmt appearing pegi website last...  technology      1
2    publisher devolver digital developer daniel mu...  technology      1
3    finally allowing posting last year instagram c...  technology      1
4    since instagram introduced website let users a...  technology      1
..                                                 ...         ...    ...
395  smu topped houston saturday highest scoring re...      sports      0
396  smu quarterback tanner mordecai tossed nine to...      sports      0
397  smu houston offenses unstoppable saturday ap w...      sports      0
398  evanston ryan day reasonable explanation took ...      sports      0
399  subscription supports investigative reporting ...      sports      0

[400 rows x 3 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['article'], df['label'], random_state=1) #X - articles fortesting and training y- labels for testing and training
y_train

82     1
367    0
179    0
27     1
89     1
      ..
255    1
72     1
396    0
235    1
37     1
Name: label, Length: 300, dtype: int64

In [8]:
cv = CountVectorizer(strip_accents="ascii") # tokenizes the documents andconverts it to matrix
X_train_cv = cv.fit_transform(X_train) #Learn the vocabulary dictionary and return document-term matrix.
X_test_cv = cv.transform(X_test) #Transform documents to document-term matrix.
print(X_train_cv)

  (0, 368)	1
  (0, 3979)	15
  (0, 8405)	1
  (0, 12953)	2
  (0, 8001)	6
  (0, 10738)	2
  (0, 6587)	1
  (0, 5048)	1
  (0, 11766)	1
  (0, 10071)	9
  (0, 10471)	2
  (0, 1712)	7
  (0, 2251)	6
  (0, 9126)	1
  (0, 942)	1
  (0, 5003)	2
  (0, 8108)	1
  (0, 3098)	3
  (0, 4821)	6
  (0, 6534)	1
  (0, 5201)	1
  (0, 13301)	1
  (0, 6167)	4
  (0, 4760)	2
  (0, 9124)	1
  :	:
  (299, 4440)	1
  (299, 7734)	1
  (299, 3356)	1
  (299, 7036)	1
  (299, 472)	1
  (299, 3838)	1
  (299, 3754)	1
  (299, 389)	1
  (299, 12859)	1
  (299, 12861)	1
  (299, 9091)	1
  (299, 1358)	1
  (299, 2130)	1
  (299, 4755)	1
  (299, 473)	1
  (299, 5959)	1
  (299, 474)	1
  (299, 5697)	1
  (299, 11310)	1
  (299, 5866)	1
  (299, 9203)	1
  (299, 3825)	1
  (299, 7889)	1
  (299, 8614)	1
  (299, 12240)	1

In [9]:
# ta = len(X_train_cv.toarray())
word_freq_df = pd.DataFrame(X_train_cv.toarray(), columns=cv.get_feature_names())
top_words_df = pd.DataFrame(word_freq_df.sum()).sort_values(0, ascending=False)
# print(word_freq_df["apple"][130:200])
# i = 0
# while i < 200:
#     if word_freq_df["aac"][i] !=0:
#         print(word_freq_df["aac"][i])
print(word_freq_df)
print(top_words_df)
# print(ta)

     aaa  aac  aaep  aapl  aaron  aatrox  abandoned  abanikanda  abbreviated  \
0      0    0     0     0      0       0          0           0            0
1      0    0     0     0      0       0          0           0            0
2      0    0     0     0      0       0          0           0            0
3      0    0     0     0      0       0          0           0            0
4      0    0     0     0      0       0          0           0            0
..   ...  ...   ...   ...    ...     ...        ...         ...          ...
295    0    0     0     0      0       0          0           0            0
296    0    0     0     0      0       0          0           0            0
297    0    0     0     0      0       0          0           0            0
298    0    0     0     0      0       0          0           0            0
299    0    0     0     0      0       0          0           0            0

     abc  ...  zion  zip  zlabs  zone  zoom  zooming  zork  zuber  zuckerberg  \
0      0  ...     0    0      0     0     0        0     0      0           0
1      0  ...     0    0      0     0     0        0     0      0           0
2      0  ...     0    0      0     0     0        0     0      0           0
3      0  ...     0    0      0     0     0        0     0      0           0
4      0  ...     0    0      0     0     0        0     0      0           0
..   ...  ...   ...  ...    ...   ...   ...      ...   ...    ...         ...
295    0  ...     0    0      0     0     0        0     0      0           0
296    0  ...     0    0      0     0     0        0     0      0           0
297    0  ...     0    0      0     0     0        0     0      0           0
298    0  ...     0    0      0     0     0        0     0      0           0
299    0  ...     0    0      0     0     0        0     0      0           0

     zwormz
0         0
1         0
2         0
3         0
4         0
..      ...
295       0
296       0
297       0
298       0
299       0

[300 rows x 13336 columns]
             0
game       916
one        651
first      637
new        536
said       494
...        ...
producing    1
produces     1
producer     1
produce      1
zwormz       1

[13336 rows x 1 columns]

C:\Users\Luka\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [10]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB() # declare naive beyes model
naive_bayes.fit(X_train_cv, y_train) #trian naive beyes model
predictions = naive_bayes.predict(X_test_cv) #predict

In [11]:
#display accuracy Percision and Recall
from sklearn.metrics import accuracy_score, precision_score, recall_score 
print('Accuracy score: ', accuracy_score(y_test, predictions))
print('Precision score: ', precision_score(y_test, predictions))
print('Recall score: ', recall_score(y_test, predictions))

Accuracy score:  1.0
Precision score:  1.0
Recall score:  1.0

In [12]:
testing_predictions = [] #arra later column which will contain predictions
for i in range(len(X_test)): #loop lenth = total amound of documents
    if predictions[i] == 1: #if predicion of that document is 1 which means it's a technology append testing_predictions with tech else append woth sports
        testing_predictions.append('technology')
    else:
        testing_predictions.append('sports')
check_df = pd.DataFrame({'actual_label': list(y_test), 'prediction': testing_predictions, 'article':list(X_test)}) #init new dataframe with three columns actual label and so on
check_df.replace(to_replace=0, value='sports', inplace=True) #replace 0s in table with sports
check_df.replace(to_replace=1, value='technology', inplace=True) #replace 1s in table with tech

check_df

   actual_label  prediction                                            article
0        sports      sports  evanston ryan day reasonable explanation took ...
1        sports      sports  melbourne nov reuters south africa blame disap...
2        sports      sports  week stressing important win future notre dame...
3        sports      sports  michigan state shook turmoil filled week snapp...
4        sports      sports  setting nba dfs lineups sites like draftkings ...
..          ...         ...                                                ...
95       sports      sports  philadelphia phillies chances capturing first ...
96   technology  technology  publisher devolver digital developer ahr ech a...
97   technology  technology  vr headset kill user die game founder claims d...
98   technology  technology  days supercomputing kicks intel introduced ope...
99       sports      sports  increased role versus hornets team ranked defe...

[100 rows x 3 columns]

In [13]:
# for i in range(len(X_test)):
#     if predictions[i] == 1:
#         print("technolog")
#     else:
#         print("sports")