In [1]:
import pandas as pd
import os
from collections import Counter
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
# nltk.download()

In [68]:
  
# example_sent = """This is a sample sentence,
#                   showing off the stop words filtration."""
  
  
# word_tokens = word_tokenize(example_sent)
  
# filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
  
# filtered_sentence = []
  
# for w in word_tokens:
#     if w not in stop_words:
#         filtered_sentence.append(w)
  
# print(word_tokens)
# print(filtered_sentence)

In [42]:
def cleanArticle(file2read):

    stop_words = set(stopwords.words('english') + list(string.punctuation)) # decleare extra words and punctioations

    article = '' # declare the returning variable
    customExtras = ["\n", "’", "“", "”", "'", "`", "-", "[", "]", "»"] # declare extra chars of article which are not included in the previous packages 
    
    def listToString(s): #function that converts arr of strings into one string (used later)
        str1 = " "
        return (str1.join(s))


    for i in customExtras: # remove extra chars in article
        file2read = file2read.replace(i, " ")

    
    word_tokens= word_tokenize(file2read.lower()) #converts arcivle into array of words
    # print(word_tokens)


    filtered_file2read =[] #empty array of clean words

    for w in word_tokens: # check if word from article is the extra , if not assign the word in the clean words array
        if w not in stop_words and w.isalpha() == True:
            filtered_file2read.append(w)

    # print(filtered_file2read)


    article = listToString(filtered_file2read)
    # print(article)
    

    return article

In [43]:

os.chdir("articles/technology/training")

# file2read = open("TrTechnologyArticle" + str(6) +
#                     ".txt", 'r').read()

# cleanArticle(file2read)





articles = []
genres = []
item = 1


while(item <= 100):
    file2read = open("TrTechnologyArticle" + str(item) +
                     ".txt", 'r').read()
    file2read = cleanArticle(file2read)
    articles.append(file2read)
    genres.append("technology")
    item += 1

item = 1

os.chdir("../../sports/training")

while(item <= 100):
    file2read = open("TrSportsArticle" + str(item) +
                     ".txt", 'r').read().replace("\n", "")
    file2read = cleanArticle(file2read)
    articles.append(file2read)
    genres.append("sports")
    item += 1 


trainingData = {'article':  articles,
                'genre': genres
                }

# print(articles[2])

os.chdir("../../../")


trainingData = pd.DataFrame(trainingData)
trainingData

                                               article       genre
0    apple today released ios ipados minor bug fix ...  technology
1    expected apple rolling ios iphone users update...  technology
2    apple wednesday released ios ipados bug fixes ...  technology
3    iphone models emergency sos via satellite feat...  technology
4    apple released ios ipados iphone ipad download...  technology
..                                                 ...         ...
195  smu topped houston saturday highest scoring re...      sports
196  smu quarterback tanner mordecai tossed nine to...      sports
197  smu houston offenses unstoppable saturday ap w...      sports
198  evanston ryan day reasonable explanation took ...      sports
199  subscription supports investigative reporting ...      sports

[200 rows x 2 columns]

In [44]:

os.chdir("articles/technology/testing")
temp = os.getcwd()


articles = []
genres = []
item = 101


os.getcwd


while(item >= 101 and item <=200):
    file2read = open("TeTechnologyArticle" + str(item) +
                     ".txt", 'r').read()
    file2read = cleanArticle(file2read)
    articles.append(file2read)
    genres.append("technology")
    item += 1

item = 101

os.chdir("../../sports/testing")

while(item >= 101 and item <=200):
    file2read = open("TeSportsArticle" + str(item) +
                     ".txt", 'r').read()
    file2read = cleanArticle(file2read)
    articles.append(file2read)
    genres.append("sports")
    item += 1


testingData = {'article':  articles,
                'genre': genres
                }

# print(articles[2])

os.chdir("../../../")


testingData = pd.DataFrame(testingData)
testingData

                                               article       genre
0    cbs essentials created independently cbs news ...  technology
1    update wed nov gmt appearing pegi website last...  technology
2    publisher devolver digital developer daniel mu...  technology
3    finally allowing posting last year instagram c...  technology
4    since instagram introduced website let users a...  technology
..                                                 ...         ...
195  houston human nature amped maybe game extra bu...      sports
196  let get philadelphia eagles links predicting n...      sports
197  jesse mendez breakout performance first colleg...      sports
198  twitter instagram facebook order ohio state ti...      sports
199  ccole mattin sam janicki michigan crowned four...      sports

[200 rows x 2 columns]

In [45]:
# make email values lower case
testingData["article"] = testingData["article"].apply(lambda str : str.lower())
trainingData["article"] = trainingData["article"].apply(lambda str : str.lower())  
# trainingData
testingData

                                               article       genre
0    cbs essentials created independently cbs news ...  technology
1    update wed nov gmt appearing pegi website last...  technology
2    publisher devolver digital developer daniel mu...  technology
3    finally allowing posting last year instagram c...  technology
4    since instagram introduced website let users a...  technology
..                                                 ...         ...
195  houston human nature amped maybe game extra bu...      sports
196  let get philadelphia eagles links predicting n...      sports
197  jesse mendez breakout performance first colleg...      sports
198  twitter instagram facebook order ohio state ti...      sports
199  ccole mattin sam janicki michigan crowned four...      sports

[200 rows x 2 columns]

In [46]:
#get probability of spam and not spam
sum_s = 0
sum_t = 0
for i in trainingData["genre"]:
    if i == "sports":
        sum_s += 1
    elif i == "technology":
        sum_t += 1
        
prob_s = sum_s/len(trainingData)
prob_t = sum_t/len(trainingData)

print(prob_s)
print(prob_t)

0.5
0.5

In [47]:
trainingData["bow"] = trainingData["article"].str.split().apply(Counter) # split string into the bag of words an then count them
trainingData

,article,genre,bow
0,apple today released ios ipados minor bug fix ...,technology,"{'apple': 3, 'today': 1, 'released': 1, 'ios':..."
1,expected apple rolling ios iphone users update...,technology,"{'expected': 2, 'apple': 8, 'rolling': 3, 'ios..."
2,apple wednesday released ios ipados bug fixes ...,technology,"{'apple': 3, 'wednesday': 1, 'released': 2, 'i..."
3,iphone models emergency sos via satellite feat...,technology,"{'iphone': 3, 'models': 2, 'emergency': 3, 'so..."
4,apple released ios ipados iphone ipad download...,technology,"{'apple': 4, 'released': 2, 'ios': 6, 'ipados'..."
...,...,...,...
195,smu topped houston saturday highest scoring re...,sports,"{'smu': 4, 'topped': 1, 'houston': 5, 'saturda..."
196,smu quarterback tanner mordecai tossed nine to...,sports,"{'smu': 1, 'quarterback': 1, 'tanner': 1, 'mor..."
197,smu houston offenses unstoppable saturday ap w...,sports,"{'smu': 5, 'houston': 2, 'offenses': 1, 'unsto..."
198,evanston ryan day reasonable explanation took ...,sports,"{'evanston': 1, 'ryan': 1, 'day': 1, 'reasonab..."
199,subscription supports investigative reporting ...,sports,"{'subscription': 1, 'supports': 1, 'investigat..."

In [ ]:
sum_bow_s = {}
sum_bow_t = {}
i=0

for bow in trainingData["bow"]: #value of bag of word in each article
    for key in bow: #value of word in each bag of word
        if trainingData["genre"][i] == "sports": #in case of spam
            if key in sum_bow_s: #if the word exists in sum of bows
                # print("sum of bow in if: ", sum_bow_s)
                sum_bow_s[key] += bow[key]
                # print("sum of bow in if: ", sum_bow_s)

            else:
                # print("key in else: ",key)
                # print('bow of key', bow[key])
                sum_bow_s[key] = bow[key]
                # print("sum of bow in else: ", sum_bow_s)
        else:
            if key in sum_bow_t:
                sum_bow_t[key] +=bow[key]
            else:
                sum_bow_t[key] = bow[key]
    i += 1


print(sum_bow_s)
print(sum_bow_t)

In [50]:
#calculates total number of words in each dictionary
term_occurences_s = 0
term_occurences_t = 0
for key in sum_bow_s:
    term_occurences_s += sum_bow_s[key]
for key in sum_bow_t:    
    term_occurences_t += sum_bow_t[key]
print(term_occurences_s)
print(term_occurences_t)

42133
30749

In [51]:
#calculate number of unique words in total
temp = []
unique_term = 0
for bow in trainingData["bow"]:
    for key in bow:
        if key not in temp:
            unique_term += 1
            temp.append(key)
# it goes to every single word in BoW and if it is not stored in the array store it and increase unique_term number by 1
unique_term

11153

In [187]:
sum_bow = {} 
term_occurences = 0 #number of words occured in total in sport and technology
for bow in trainingData["bow"]:
    for key in bow:
        if key in sum_bow:
            sum_bow[key] += bow[key]
        else:
            sum_bow[key] = bow[key]
        term_occurences += bow[key]

# print(sum_bow)


prob_bow = {}
for key in sum_bow:
    # if((sum_bow[key]/(term_occurences)) >0.001 ):
    prob_bow[key] = (sum_bow[key]/(term_occurences)) +1 #probability of word in general for sport and technology

prob_bow

{'apple': 1.002277654290497,
 'two': 1.0044867045360995,
 'update': 1.0015504514146154,
 'going': 1.0016602178864467,
 'users': 1.0011388271452484,
 'see': 1.0014132433248264,
 'app': 1.0015641722235944,
 'new': 1.0047885623336352,
 'home': 1.0013309184709531,
 'last': 1.0023736999533492,
 'also': 1.0033615981998298,
 'well': 1.0016739386954254,
 'performance': 1.0011799895721851,
 'may': 1.0012897560440164,
 'next': 1.0019483548750034,
 'us': 1.0010153398644384,
 'know': 1.0010290606734173,
 'made': 1.0017288219313412,
 'would': 1.002016958919898,
 'like': 1.0035536895255344,
 'right': 1.0015504514146154,
 'need': 1.001056502291375,
 'open': 1.0012897560440164,
 'system': 1.001070223100354,
 'world': 1.0026892785598638,
 'time': 1.0034027606267666,
 'go': 1.00174254274032,
 'take': 1.0012897560440164,
 'best': 1.0019620756839824,
 'run': 1.0021953294366235,
 'including': 1.0010976647183119,
 'make': 1.0019895173019402,
 'even': 1.0019757964929612,
 'first': 1.0060920391866304,
 'drive': 1.0011799895721851,
 'said': 1.004143684311627,
 'things': 1.0013583600889109,
 'big': 1.0016876595044044,
 'three': 1.002524628852117,
 'could': 1.001893471639088,
 'used': 1.001070223100354,
 'windows': 1.0015367306056364,
 'end': 1.0018385884031722,
 'people': 1.0010016190554596,
 'high': 1.0011251063362696,
 'running': 1.0013995225158476,
 'november': 1.0012897560440164,
 'one': 1.0046376334348672,
 'early': 1.0013034768529951,
 'third': 1.0018523092121512,
 'year': 1.0020306797288767,
 'another': 1.0014269641338054,
 'microsoft': 1.0019620756839824,
 'games': 1.0028950906945473,
 'point': 1.0011388271452484,
 'game': 1.0103180483521308,
 'pass': 1.0017288219313412,
 'players': 1.0021267253917292,
 'nintendo': 1.0011388271452484,
 'since': 1.0016464970774677,
 'back': 1.0027853242227163,
 'times': 1.0010153398644384,
 'better': 1.0013583600889109,
 'many': 1.0015092889876787,
 'still': 1.0017151011223622,
 'years': 1.0011251063362696,
 'get': 1.002936253121484,
 'team': 1.0036771768063446,
 'lot': 1.0010016190554596,
 'day': 1.0010976647183119,
 'win': 1.0033890398177876,
 'field': 1.0018385884031722,
 'good': 1.0017699843582777,
 'way': 1.0017151011223622,
 'much': 1.0014132433248264,
 'lead': 1.0014406849427842,
 'league': 1.0015504514146154,
 'season': 1.0031420652561676,
 'start': 1.0012074311901429,
 'series': 1.0027304409868005,
 'left': 1.001468126560742,
 'play': 1.0031695068741253,
 'state': 1.0043357756373317,
 'four': 1.0014544057517631,
 'think': 1.0011937103811641,
 'second': 1.002936253121484,
 'got': 1.0019757964929612,
 'defense': 1.001632776268489,
 'friday': 1.0010016190554596,
 'week': 1.0024560248072227,
 'line': 1.0013034768529951,
 'power': 1.001070223100354,
 'sonic': 1.0014132433248264,
 'half': 1.0017151011223622,
 'gpu': 1.0010153398644384,
 'came': 1.0013171976619741,
 'loss': 1.0017699843582777,
 'goal': 1.0011937103811641,
 'ball': 1.0015641722235944,
 'max': 1.0015230097966576,
 'five': 1.0011388271452484,
 'quarter': 1.0017699843582777,
 'data': 1.0013583600889109,
 'top': 1.0012211519991219,
 'fourth': 1.0012897560440164,
 'teams': 1.0011799895721851,
 'intel': 1.0019209132570457,
 'saturday': 1.0020718421558135,
 'night': 1.0013720808978896,
 'astros': 1.00186603002113,
 'offense': 1.0012623144260586,
 'yards': 1.0042397299744792,
 'touchdown': 1.0024285831892648,
 'football': 1.0015367306056364,
 'tigers': 1.0011251063362696,
 'coach': 1.0011799895721851,
 'yard': 1.0028264866496528,
 'quarterback': 1.0012760352350374,
 'mississippi': 1.0010290606734173,
 'auburn': 1.0016739386954254,
 'clemson': 1.001070223100354,
 'touchdowns': 1.0012348728081009,
 'ucla': 1.0010839439093329,
 'republic': 1.0015092889876787}

In [188]:
def split(words): #split string into array of words
    return words.split()


def lower(words): #lowercase the letters in the string
    return words.lower()

def probSports(email): #calculate the probability of spam of the string
    email = split(lower(email))
    likelihood = 1
    evidence = 1
    for term in email:
        if term in prob_bow: #check if word has probability value so that it won't throw error for unrecognised words
            if term in sum_bow_s:
                likelihood *= (sum_bow_s[term]+1)/(term_occurences_s+unique_term) #naive beyes formula 
            else:
                likelihood *= 1/(term_occurences_s+unique_term)

            evidence *= prob_bow[term]
            # print(evidence)

    likelihood_prior = likelihood*prob_s
    posterior = likelihood_prior/evidence
    return posterior

def probTech(email): #calculate the probability of not spam of the string
    email = split(lower(email))
    likelihood = 1
    evidence = 1
    for term in email:
        if term in prob_bow:
            if term in sum_bow_t:
                likelihood *= (sum_bow_t[term]+1)/(term_occurences_t+unique_term) 
            else:
                likelihood *= 1/(term_occurences_t+unique_term)
                
            evidence *= prob_bow[term]
            # print(evidence)

    likelihood_prior = likelihood*prob_t
    
    posterior = float(likelihood_prior)/evidence
    return posterior


print(probSports("sports NFL Rugby footbal nfl, tech , 23412 apple apple"))
print(probTech("apple, sports apple apple apple"))

8.589418191448325e-09
2.816950601363801e-08

In [189]:
testArticle = testingData["article"][15]
print(probSports(testArticle))

5.110288575339775e-149